* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: navy;
}

.container {
    display: flex;
    justify-content: flex-end;
    padding-right: 80px;
}

.mainBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    margin-top: 100px;
    margin-left: 800px;
    background-color: rgb(115, 214, 115);
    display: block;
    border-radius: 5px;
}

button {
    padding: 16px 16px;
}

.textbox {
    padding: 60px;
}

#place {
    border-radius: 5px;
    border: 2px solid black;
    padding: 10px 20px;
}

#searchIcon {
    border-radius: 50%;
    border: 1px solid black;
}

.wind {
    display: flex;
}


/* DISPLAYING WEATHER FORECAST */

.tempCity {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    color: white;
}

.wind {
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
    padding-right: 40px;
    font-size: 20px;
    color: white;
}

.wind i {
    padding-right: 5px;
}
