* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(218, 136, 187);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 80px;
}

.mainBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 400px;
    margin-top: 70px;
    background-color: rgb(214, 115, 120);
    border-radius: 5px;
}

button {
    padding: 16px 16px;
}

.textbox {
    padding: 60px;
}

#place {
    border-radius: 5px;
    border: 2px solid black;
    padding: 10px 20px;
}

#searchIcon {
    border-radius: 50%;
    border: 1px solid black;
}

.wind {
    display: flex;
}


/* DISPLAYING WEATHER FORECAST */

.displayWeather
{
   
    height: 280px;
    width: 300px;
    background-color: rgb(128, 0, 9);
    border-radius: 12px;
    border: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tempCity {
    font-size: 40px;
    color: white;
}



.wind,
.humidity
{
 display: flex;
    justify-content: flex-end;
    padding-top: 5px;
    padding-right: 40px;
    font-size: 20px;
    color: white;   
    word-spacing: 2px;
}

.wind span,
.humidity span
{
    color: rgb(251, 159, 159);
    font-size: 20px;
}
.wind i {
    padding-right: 5px;
}
.wind p,
.humidity p{
    padding-left: 2px;
}